* {
    width: 80%;
    font-family: "Roboto";
}

.flex {
    display: flex;
}

.container {
    background-color: hotpink;
    color: white;
    padding: 5px;
    margin: 0 auto;
    border: 3px solid black;
    text-align: center;
    justify-content: center;
}